* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    width: 1170px;
    margin: 30px auto;
}

.second-container {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
    background-color: rgb(30, 43, 71);
}

.block {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:16px;
    min-height:200px;
    font-family: sans-serif;
    color: rgb(226, 145, 53);
}

.number {
    font-size: 36px;
}

.text {
    font-size: 24px;
    color:beige;
}